<ion-header>
  <ion-toolbar>
    <ion-title>TASK-LIST</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor ="let item of tasklist">
      <ion-grid>
          <ion-row>
              <ion-label>{{item.id}}</ion-label>
            </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-label>{{item.name}}</ion-label>
           </ion-col>
           <ion-col size="6">
            <ion-label>{{item.location}}</ion-label>
           </ion-col>
        </ion-row>
        <ion-row>
          <ion-label>{{item.desc}}</ion-label>
        </ion-row>

        <ion-row>
          <ion-col size="3">
            <ion-label>{{item.cat}}</ion-label>
          </ion-col>
          <ion-col size="7">
            <ion-note>Added: {{item.addedTime | date: 'dd/MM/yy h:mm:ss'}}</ion-note>
          </ion-col>
          <ion-col size="2">
            <ion-button color="primary" (click)="changeStatus(item.addedTime)" >
                <ion-icon ios="ios-done-all" md="md-done-all"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
